affine==2.3.0
astroid==2.4.2
atomicwrites
attrs==19.3.0
certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
coverage
cycler==0.10.0
Fiona==1.8.13
GDAL==3.0.4
geopandas
iniconfig
isort==4.3.21
joblib
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.0
mccabe==0.6.1
mkl-service==2.3.0
more-itertools
munch==2.5.0
numpy
packaging
pandas
Pillow==7.2.0
pluggy
py
pylint==2.5.3
pyparsing==2.4.7
pyproj
pyspatialml
pytest==6.0.1
pytest-cov
python-dateutil==2.8.1
pytz==2020.1
rasterio==1.1.5
rasterstats==0.14.0
Rtree==0.9.4
scikit-learn
scipy==1.5.2
Shapely==1.7.0
simplejson
six==1.15.0
sklearn==0.0
snuggs==1.4.7
threadpoolctl
toml==0.10.1
tqdm==4.48.2
wincertstore==0.2
wrapt==1.12.1
