earthengine-api==0.1.257
GDAL==3.1.4
geopandas==0.8.2
joblib==1.0.0
matplotlib==3.4.2
numpy==1.20.0
owslib==0.23.0
pandas==1.2.1
python==3.7.9
rasterio==1.2.0
rasterstats==0.14.0
rioxarray==0.2.0
scikit-learn==0.24.1
sphinx==3.4.3
sphinx-rtd-theme==1.0.0
urllib3==1.26.3
xarray==0.16.2